/* navigation.module.css */
.Logo {
    display: flex;
    margin-top: 1rem;
    box-shadow: none;
    width: 20px;
}

.LogoLink {
    display: flex;
    margin-top: 1rem;
    box-shadow: none;
}

.CustomMenu {
    flex: 1;
    min-width: 0;
    padding: 0 48px;
    background-color: #ffdae9;
}

.CustomMenu .ant-menu-horizontal>.ant-menu-item {
    color: black !important;
    font-size: 18px !important;
    transition: all 0.3s ease !important;
    font-weight: 500 !important;
}

.CustomMenu .ant-menu-horizontal>.ant-menu-item:hover {
    background-color: #f7c6d7 !important;
    color: white !important;
}